@import "tailwindcss";

:root {
  --vh: 1vh;
  --vw: 1vw;
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #171717;
  --primary: #015cf3;
  --accent: #d6eeff;
  --desc: #515154;
  --nav-height: 44px;
  --content-height: 500px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-switzer: var(--font-switzer);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-desc: var(--desc);
  --breakpoint-iphone: 430px;
  --breakpoint-ipad: 834px;
  --breakpoint-ipad-pro: 1024px;
  --breakpoint-mac: 1280px;
  --breakpoint-mac-lg: 1440px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .h-screen-nav {
    height: calc(100dvh - var(--nav-height));
  }
  .min-h-screen-nav {
    min-height: calc(100dvh - var(--nav-height));
  }
  .max-h-screen-minus-nav {
    max-height: calc(100dvh - var(--nav-height));
  }
  .h-nav {
    height: var(--nav-height);
  }
  .pt-nav {
    padding-top: calc(var(--nav-height)+ 16px);
  }
  .section-wrapper {
    height: var(--content-height);
  }
}

@supports (height: calc(var(--nav-height) + var(--content-height) + 12px)) {
  @media screen and (min-width: 1441px) and (max-width: 1920px) and (min-height: 776px) {
    :root {
      --content-height: 692px;
    }
  }

  @media screen and (max-width: 1440px) and (min-width: 1069px) and (min-height: 776px) {
    :root {
      --content-height: 692px;
    }
  }

  @media screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) {
    :root {
      --content-height: 650px;
    }
  }

  @media screen and (min-width: 1441px) and (max-height: 775px) {
    :root {
      --content-height: 580px;
      --r-globalnav-flyout-item-total: 8;
    }
  }
}
